Flask==0.10.1
Flask-Bcrypt==0.6.2
Flask-SQLAlchemy==2.0
GeoAlchemy2==0.2.4
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.10.1
beautifulsoup4==4.3.2
itsdangerous==0.24
psycopg2==2.6
python-bcrypt==0.3.1
requests==2.5.3
