{% extends 'base.html' %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block content %}
<div id="content-intro" class="content">
    <div class="jumbotron">
        <div class="container text-center">
            <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-circle" width="300px"></a>
            <h1>ParkHero</h1>
            <p>ParkHero makes finding a parking spot easy and radically simplifies the payment process envolved.</p>
            <p>The app shows you car parks close to your current location with useful information like how many free spaces are available. Using Bluetooth LE technology we detect when you enter and leave a car park and automatically charge you the owed amount. No more hassle with ticket machines and cash.</p>
            <hr>
            <p>This project was creating at CodeFEST8, a hackathon focused on mobility. It's the result of less than two days of work, and therefore is still a work in progress.</p>
        </div>
    </div>

    <div class="container text-center">
        <h1>Screenshots</h1>
        <p><img src="{{ url_for('static', filename='img/parkhero_screenshots.png') }}"></p>
    </div>
</div>

<div id="content-map" class="content container">
    <h1>Map</h1>
    <div id="map" style="width: 100%; height: 600px;"></div>
</div>

<div id="content-history" class="content container">
    <h1>History</h1>
    <table id="history-table" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Car Park</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Duration</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="content-account" class="content container">
    <h1>Account</h1>
    <form id="account-form">
        <div class="form-group">
            <label for="account-name">Name</label>
            <input type="text" class="form-control" id="account-name" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label for="account-email">Email</label>
            <input type="text" class="form-control" id="account-email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="account-password">Password</label>
            <input type="text" class="form-control" id="account-password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="account-creditcard">Credit Card</label>
            <input type="text" class="form-control" id="account-creditcard" placeholder="Credit Card">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" id="account-submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}