{% extends 'base.html' %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block content %}
<div id="content-intro" class="content">
    <div class="jumbotron">
        <div class="container text-center">
            <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-circle" width="300px"></a>
            <h1>ParkHero</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">

    </div>
</div>

<div id="content-map" class="content container">
    <h1>Map</h1>
    <div id="map" style="width: 100%; height: 600px;"></div>
</div>

<div id="content-history" class="content container">
    <h1>History</h1>
    <table id="history-table" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Car Park</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Duration</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="content-account" class="content container">
    <h1>Account</h1>
    <form id="account-form">
        <div class="form-group">
            <label for="account-name">Name</label>
            <input type="text" class="form-control" id="account-name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="account-email">Email</label>
            <input type="text" class="form-control" id="account-email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="account-password">Password</label>
            <input type="text" class="form-control" id="account-password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="account-creditcard">Credit Card</label>
            <input type="text" class="form-control" id="account-creditcard" placeholder="Credit Card">
        </div>
        <div class="form-group">
            <label for="registration-submit">Submit</label>
            <button type="submit" class="btn btn-default" id="registration-submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}